<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_template}">

	<body>
		<div layout:fragment="content" class="container">
			<div class="row align-items-start">
				<nav th:replace="fragments/admin/nav::nav(currentMenu='')"></nav>
				<div class="col-md-10 text-center pt-4">
					<div class="container text-center">
						<h1 class="text-primary">관리자 메인 페이지입니다.</h1>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>