<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <nav th:fragment="nav(currentMenu)" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')"
                         style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                        <a th:href="@{/admin/users}" style="margin:5px;" class="nav-link" th:classappend="${currentMenu == 'user'}? active">사용자관리</a>
                        <a th:href="@{/admin/roles}" style="margin:5px;" class="nav-link" th:classappend="${currentMenu == 'role'}? active">권한관리</a>
                        <a th:href="@{/admin/resource}" style="margin:5px;" class="nav-link" th:classappend="${currentMenu == 'resource'}? active">리소스관리</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</html>