<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_template}">

	<body>
		<div layout:fragment="content" class="container">
			<div class="row align-items-start">
				<nav th:replace="fragments/admin/nav::nav(currentMenu='role')"></nav>
				<div class="col-md-10 pt-4">
					<div class="container">
						<form class="form-horizontal" th:action="@{'/admin/roles/'+${role.id}}" method="post" th:object="${role}">
							<div class="form-group">
								<label for="roleName" class="d-block control-label">권한명</label>
								<div class="">
									<input type="text" class="form-control input-large" name="roleName" id="roleName" placeholder="roleName" th:value="*{roleName}" required>
								</div>
							</div>

							<div class="form-group">
								<label for="roleDesc" class="d-block control-label">권한설명</label>
								<div class="">
									<input type="text" class="form-control input-large" name="roleDesc" id="roleDesc" placeholder="roleDesc" th:value="*{roleDesc}" required>
								</div>
							</div>
							<div class="form-group">
								<label class="d-block control-label">권한</label>
								<div class="form-check" th:each="role: ${roles}">
									<input class="form-check-input" th:type="checkbox" name="roles" th:id="'role_' + ${role.id}"
									       th:value="${role.roleName}"
									       th:checked="${user.roles.contains(role.roleName)} ? 'true' : 'false'" />
									<label class="form-check-label" th:for="'role_' + ${role.id}" th:text="${role.roleName}"></label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-1 col-sm-10">
									<button type="Submit" class="btn btn-dark btn-lg">등록</button>
									<a class="btn btn-dark btn-lg" style="margin:10;" th:href="@{/admin/roles}">목록 </a>
									<a class="btn btn-danger btn-lg btn_delete" style="margin:10;"
									   th:href="@{'/admin/roles/'+${role.id}+'/delete'}">삭제 </a>
								</div>

								<script>
									$(".btn_delete").click(function(e){
										e.preventDefault();
										var result = confirm("정말 삭제하시겠습니까?");
										if(result){
										    location.href = this.href;
										}else{
										    return ;
										}
									});
								</script>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>